@charset "utf-8";
			body{
				margin: 0; 
				padding: 0; 
				font-family:arial; 
				font-size: 12px;
				}
			div,ul,li,p,a,input{ 
				margin: 0;padding: 0; 
				border:none; 
				list-style:none;
				outline: none;
				}
			a:link,a:visited{ 
				color: #49484b; 
				text-decoration: none;
				}
			a:hover{ font-weight: 800;}
			#header{ 
				 background-color: #EE6F5E;
				 height: 50px;
				 width: 100%;
				 position: fixed;
				 top: 0;
				 z-index: 10000;
				  }
			.header-left{
				height:45px;
				padding-top: 5px; 
				float: left;
				}
			.header-center{ 
				height:50px;
				line-height: 50px;
				float: left;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
				}
			#header-right{ 
				height:36px;
				padding-top:9px;
				float: right;
				}
			#header-right img{
				padding-top: 4px;
				height: 25px;
				width: 25px;
			}
			#header-right .list{
				width: 38px;
			}
			.test-div{
        		position: relative;  /*日常相对定位*/
       			width:110px;
        		height: 120px;
        		margin-top: 10px;
        		float: right;
        		border:black 1px solid;
        		border-radius:5px;
        		background: #49484b;
    			}
   			 .test-div:before,.test-div:after{
        		content: "";  
       			display: block;
        		position: absolute;  /*日常绝对定位*/
        		left:80px;
        		width: 0;
        		height: 0;
        		border:6px transparent solid;
    			}
    		.test-div:before{
        		top:-11px;
        		border-bottom-color: #49484b;
        		z-index:1
    			}
    		.test-div:after{
        		top:-12px;
        		border-bottom-color: rgba(0,0,0,1);
       		 	z-index: 0
    			}
    		.test-div li{
    			height: 40px;
    			line-height: 45px;
    			border-bottom: 1px solid #666;
    			padding-left: 15px;
    			box-sizing: border-box;
    			}    
    		.test-div li img{
    			width: 25px;
    			height: 25px;
    			}
    		.test-div .scan{
    			height: 30px;
    			padding-top: 5px;
    			float: left;
    		}
    		#header-right li ul {
    			display: none;
    		}
    		#header-right li ul.show{
    			display: block;
    			}
    		#header-right li ul li a:link,#header-right li ul li a:visited{
    			color: #e3e7e7;
    			padding-left: 6px;
    		}
			#search{ 
				width: 100%; 
				height:30px; 
				margin: 60px auto 0; 
				text-align: center; 
				}
			#search a{ 
				display: inline-block;
				width: 80%;
				height: 30px;  
				border:1px solid #949492;
				border-radius:5px;
				padding-left:12px ;
				background-image: url(../images/sousuo_icon.png);
				background-repeat: no-repeat;
				background-position: 5px;
				background-size: 25px;
				}
			#search span{
				line-height: 30px;
				color: #808080;
			}
			#nav{ 
				width: 100%; 
				height: 80px; 
				}
			#nav ul{ 
				width: 90%;
				height: 80px; 
				margin-left: 6%; 
				}
			#nav ul li{
				width: 23.25%;
				height: 70px; 
				margin-right: 0.75%; 
				padding: 10px 0 0  ; 
				background-position: right ; 
				float: left; 
				}
			#nav ul li img{
				 width: 30px; 
				 height: 30px;
				 }
			#nav p{
				 width: 40%;  
				 margin: 2px auto; 
				 text-align: center;
				 }
			#nav p .nav-top{ 
				width: 22.5%; 
				height: 25%;
				}
			#nav p .nav-bottom{ 
				width: 22.5%; 
				padding-left:-3px;
				text-align: center;
				}
			#box {
				 width:100%;
				 height:29px; 
				 padding: 3px 0 2px 0;
				 background-color: #f7f7f7;
				 display: inline-block;
				 }
			#box .title{
				border-left: 5px solid #EE6F5E;
				height: 29px;
				line-height: 29px;
				color:rgba(73, 72, 75, 0.82);
				font-size: 16px;
				padding-left: 5px;
			}
			#content{
				width: 100%;
				height: 220px;
			}
			.price-text{
				padding: 0 1px;
			}
			#content .content-left{
				width: 50%;
				height: 110px;
				float: left;
				position: relative;
				box-sizing: border-box;
			}
			#content .text{
				float: left;
				width: 45%;
				padding:10px 0 0 5%;
				height: 80px;
				line-height: 20px;
			}
			#content .text .title-text{
				font-size: 14px;
			}
			#content.text .title-text{
				color: #8a8a8a;
			}
			#content .text .price-text{
				display: inline;
				color: #ad022c;
				border: 1px solid #ad022c;
				border-radius: 2px;
				padding: 2px;
			}
			#content .picture{
				float: right;
				width: 50%;
				height: 90px;
			}
			#content .picture img{
				width: 90px;
				height: 90px;
				padding-top: 10px;
			}
			#content .content-right{
				width: 50%;
				height: 110px;
				float:left;
				box-sizing: border-box;
			}			
			#hint{
				width: 100%;
				height: 75px;
				line-height: 40px;
				background-color: #fafafa;
				text-align: center;
				color: #808080;
			}	
			#footer{ 
				width: 100%; 
				height: 45px; 
				background-color: #EE6F5E;
				 position: fixed; 
				 bottom: 0;
				 z-index: 11;
				 }
			#footer p{ 
				width: 25%; 
				height: 45px; 
				line-height: 45px; 
				text-align: center; 
				float: left;
				}
			#footer a:link,#footer a:visited{
				font-size: 14px;
				color: #fff4f7;
				font-weight: 700;
				 }
			#footer a:hover{
				 font-weight: 900;
				 }